<div class="container my-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Tools", tools_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @tool.category %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @tool.name %></li>
    </ol>
  </nav>
  <div class="row col-auto">
    <div class="col-6 col-lg-3">
      <%= cl_image_tag @tool.photo.key, height: 800, class: "img-fluid rounded", alt: @tool.name %>
    </div>
    <div class="col-6 col-lg-3 d-flex flex-column">
      <h1 class="text-start"><%= @tool.name %></h1>
      <p class="mb-2"><strong>Condition:</strong>
        <%= @tool.condition.capitalize %>
      </p>
      <p class="mb-2"><strong>Description:</strong>
        <%= @tool.description %>
      </p>
    </div>
    <div class="col-12 col-lg-3">
      <div class="p-4 bg-light rounded shadow-sm h-100 d-flex flex-column">
        <h2 class="h4 mb-3">¥<%= @tool.price %> / day</h2>
        <p class="text-muted mb-4">
          <strong>Location:</strong><br>
          <%= @tool.location %>
          <div style="width: 100%; height: 200px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </p>
        <%= render "rentals/form", tool: @tool, rental: @rental %>
      </div>
    </div>
  </div>
</div>
