<div class="dashboard container my-3 mx-3">
  <div class="title mb-4">
    <h1>My レンtool</h1>
  </div>
  <div class="row">
    <!-- LEFT -->
    <div class="col-auto">
      <ul class="nav nav-pills flex-column" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 text-start active" id="tools-listing-tab" data-bs-toggle="pill" data-bs-target="#tools-listing"
            type="button" role="tab" aria-controls="tools-listing" aria-selected="true">
            Tools I'm Listing
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 text-start" id="tools-renting-tab" data-bs-toggle="pill" data-bs-target="#tools-renting"
            type="button" role="tab" aria-controls="tools-renting" aria-selected="false">
            Tools I'm Renting
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 text-start" id="tools-rented-tab" data-bs-toggle="pill" data-bs-target="#tools-rented"
            type="button" role="tab" aria-controls="tools-rented" aria-selected="false">
            Tools I Rented
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 text-start" id="tools-returning-tab" data-bs-toggle="pill" data-bs-target="#tools-returning"
            type="button" role="tab" aria-controls="tools-returning" aria-selected="false">
            Waiting for Return
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 text-start" id="tools-approval-tab" data-bs-toggle="pill" data-bs-target="#tools-approval"
            type="button" role="tab" aria-controls="tools-approval" aria-selected="false">
            Waiting for Approval
          </button>
        </li>
      </ul>
    </div>
    <!-- RIGHT: tab panes -->
    <div class="col">
      <div class="tab-content" id="dashboardTabsContent">
        <!-- Tools I'm Listing -->
        <div class="tab-pane fade show active" id="tools-listing" role="tabpanel" aria-labelledby="tools-listing-tab">

          <div class="row row-cols-3 gap-0">
            <% @tools.each do |tool| %>
              <div class="col">
                <%= render "shared/tool_card", tool: tool %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Tools I'm Renting -->
        <div class="tab-pane fade" id="tools-renting" role="tabpanel" aria-labelledby="tools-renting-tab">
          <div class="row row-cols-3 gap-0">
            <% @my_pending.each do |rental| %>
              <div class="col">
                <%= render "shared/rental_card", rental: rental %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Tools I Rented -->
        <div class="tab-pane fade" id="tools-rented" role="tabpanel" aria-labelledby="tools-rented-tab">
          <div class="row row-cols-3 gap-0">
            <% @my_accepted.each do |rental| %>
              <div class="col">
                <%= render "shared/rental_card", rental: rental %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- Waiting For Return -->
        <div class="tab-pane fade" id="tools-returning" role="tabpanel" aria-labelledby="tools-returning-tab">
          <div class="row row-cols-3 gap-0">
            <% @waiting_for_return.each do |rental| %>
              <div class="col">
                <%= render "shared/rental_card", rental: rental %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="tools-approval" role="tabpanel" aria-labelledby="tools-approval-tab">
          <div class="row row-cols-3 gap-0">
            <% @pending_approvals.each do |rental| %>
              <div class="col">
                <%= render "shared/rental_card", rental: rental %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
