<div class="card mb-3 mx-auto" style="width: 18rem;">
  <div class="card-body">
    <div class="image text-center my-2">
      <%= cl_image_tag rental.tool.photo.key, height: 165, width: 220, crop: :fill, alt: rental.tool.name %>
    </div>
    <h5 class="card-title"><%= rental.tool.name %></h5>
    <p class="card-text">Price/day: ¥<%= rental.tool.price %></p>
    <p class="card-text">Total Price: ¥<%= rental.total_price %></p>
    <p class="card-text">Start: <%= rental.start_date %></p>
    <p class="card-text">End: <%= rental.end_date %></p>
    <%= link_to "See details", tool_path(rental.tool), class: "btn btn-info mb-3" %>
    <div class="container rentals">
      <div class="rental d-flex align-items-center mb-4">
      </div>
      <div class="rental-actions mb-3">
        <div class="rental-info-title">
          <p><strong>Name of renter: </strong><%= rental.user.name %> </p>
        </div>
        <div class="rental-info-details">
          <p><strong>Number of days: </strong><%= rental.num_of_days %> </p>
        </div>
      </div>
      <% if rental.pending? && rental.tool.user == current_user %>
        <%= simple_form_for rental, url: tool_rental_path(rental.tool, rental), method: :patch do |f|  %>
          <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
          <%= f.submit 'Accept', class: 'btn btn-info' %>
        <% end %>
        <%= simple_form_for rental, url: tool_rental_path(rental.tool, rental), method: :patch do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
          <%= f.submit 'Reject', class: 'btn btn-light' %>
        <% end %>
      <% else %>
        <span class="badge bg-secondary text-capitalize">
          <%= rental.status %>
        </span>
      <% end %>
    </div>
  </div>
</div>
